*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

#map {
  height: 100vh;
}

.sidebar {
  font-family: "Comic Sans MS";
  position: absolute;
  right: 0;
  top: 0;
  padding: 1rem;
  z-index: 500;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  border-radius: 1rem 0 0 1rem;
  box-shadow: 0 0 1rem orangered;
  animation: switch 3s infinite;
  label[for="county"] {
    margin-bottom: 0.5rem;
  }
}
@keyframes switch {
  50% {
    box-shadow: 0 0 1rem grey;
  }
}
